<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/home">Looking For Group</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/create-event">Create Event</a>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse" id="navbarNav">

			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#"> {{user.first_name}} {{user.last_name}}</a>
				</li>
				<li class="nav-item">
					<button class="btn btn-sm btn-outline-secondary" style="margin-top:5px;" type="button"
						onclick="document.location.href='/logout'">Logout</button>
				</li>
			</ul>
		</div>
	</nav>
</div>
<div class="container">
<h2>Update Event Details</h2>
	<div class="form-group">
		<label for="eventTitle">Event Title</label>
		<input type="text" class="form-control" id="eventTitle" name="eventTitle" value="{{title}}">
	</div>

	<div class="form-group">
		<label for="eventAddress">Address</label>
		<input type="text" class="form-control" id="eventAddress" name="eventAddress" value="{{address}}">
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="eventCity">City</label>
			<input type="text" class="form-control" id="eventCity" name="eventCity" value="{{city}}">
		</div>
		<div class="form-group col-md-4">
			<label for="eventState">State</label>
			<select id="eventState" class="form-control" name="eventState" value="{{state}}">
				<option selected>{{state}}</option>
				<option>Alabama </option>
				<option>Alaska </option>
				<option>Arizona </option>
				<option>Arkansas </option>
				<option>California </option>
				<option>Colorado </option>
				<option>Connecticut </option>
				<option>Delaware </option>
				<option>Florida </option>
				<option>Georgia </option>
				<option>Hawaii </option>
				<option>Idaho </option>
				<option>Illinois</option>
				<option>Indiana </option>
				<option>Iowa </option>
				<option>Kansas </option>
				<option>Kentucky </option>
				<option>Louisiana </option>
				<option>Maine </option>
				<option>Maryland </option>
				<option>Massachusetts </option>
				<option>Michigan </option>
				<option>Minnesota </option>
				<option>Mississippi </option>
				<option>Missouri </option>
				<option>Montana</option>
				<option>Nebraska </option>
				<option>Nevada </option>
				<option>New Hampshire </option>
				<option>New Jersey </option>
				<option>New Mexico </option>
				<option>New York </option>
				<option>North Carolina </option>
				<option>North Dakota </option>
				<option>Ohio </option>
				<option>Oklahoma </option>
				<option>Oregon </option>
				<option>Pennsylvania</option>
				<option>Rhode Island </option>
				<option>South Carolina </option>
				<option>South Dakota </option>
				<option>Tennessee </option>
				<option>Texas </option>
				<option>Utah </option>
				<option>Vermont </option>
				<option>Virginia </option>
				<option>Washington </option>
				<option>West Virginia </option>
				<option>Wisconsin </option>
				<option>Wyoming</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<label for="eventZIP">Zipcode</label>
			<input type="text" class="form-control" id="eventZIP" name="eventZIP" value="{{zip}}">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="startDate">Start Date</label>
			<input type="date" class="form-control" id="startDate" name="startDate" value="{{startDate}}">
		</div>
		<div class="form-group col-md-6">
			<label for="endDate">End Date</label>
			<input type="date" class="form-control" id="endDate" name="endDate" value="{{endDate}}">
		</div>
	</div>

	<div class="form-group">
		<label for="eventDescription">Event Description</label>
		<textarea class="form-control" id="eventDescription" rows="3" name="eventDescription" value="{{description}}">{{description}}</textarea>
	</div>
<h2>Event Specifications</h2>
	<label>Age Range</label>
	<div class="form-row">
		<div class="form-group col-md-1">
			<input type="number" class="form-control" id="lowerAge" name="lowerAge" min="0" max="100" value="{{lowerAge}}">
		</div>
		<label class="pt-2">to</label>
		<div class="form-group col-md-1">
			<input type="number" class="form-control" id="upperAge" name="upperAge" min="1" max="101" value="{{upperAge}}">
		</div>
	</div>

	<div class="form-group">
		<label for="gender">Gender</label>
          <select class="form-control col-md-3" id="gender">
            {{#if both}}
              <option val="0">Female</option>
              <option val="1">Male</option>
              <option val="2" selected>Both</option>
              {{else}}
              {{#if male}}
                <option val="0">Female</option>
                <option val="1" selected>Male</option>
                <option val="2">Both</option>
              {{else}}
                <option val="0" selected>Female</option>
                <option val="1">Male</option>
                <option val="2">Both</option>
              {{/if}}
            {{/if}}
          </select>
	</div>
	<button type="button" id="updateBtn" onclick="eventUpdate()" class="btn btn-primary">Update Event</button>
</div>
<script type="text/javascript" src="/table.js"></script>
