<div class="topnav p-3" align="right">
    {{user.first_name}} {{user.last_name}}
    <a href="/home"><button class="btn btn-primary" type="button">Home</button></a>
    <button class="btn btn-primary" type="button">Profile</button>
    <a href="/create-event"><button class="btn btn-primary" type="button">Create Event</button></a>
  <input type="button" value="Log Out" class="btn" , onclick="document.location.href='/logout'" />
</div>

<form>
	<fieldset>
    <legend>Update Event</legend>
    	<div>
          <input type="hidden"id="updateId" value="{{id}}">
          <br>
          <label>Event Title: </label>
          <input type="text" name="eventTitle" id="eventTitle" value="{{title}}">
          <br>
          <br>
          <label>Location</label>
          <br>
          <label>Address: </label>
          <input type="text" name="eventAddress" id="eventAddress" value="{{address}}">
          <label>City: </label>
          <input type="text" name="eventCity" id="eventCity" value="{{city}}">
          <label>State: </label>
          <input type="text" name="eventState" id="eventState" value="{{state}}">
          <label>ZIP: </label>
          <input type="text" name="eventZIP" id="eventZIP" value="{{zip}}">
          <br>
          <br>
          <label>Dates</label>
          <br>
          <label>Start: </label>
          <input type="date" name="startDate" id="startDate" value="{{startDate}}">
          <label>End: </label>
          <input type="date" name="endDate" id="endDate" value="{{endDate}}">
          <br>
          <br>
          <label>Description </label>
          <input type="text" name="eventDescription" id="eventDescription" value="{{description}}">
          <br>
          <br>
          <label>Specifications</label>
          <br>
          <label>Age From: </label>
          <input type="number" name="lowerAge" id="lowerAge" value="{{lowerAge}}">
          <label>Age To: </label>
          <input type="number" name="upperAge" id="upperAge" value="{{upperAge}}">
          <br>
          <label>Gender:</label>
          <select id="gender">
            {{#if both}}
              <option val="0">Female</option>
              <option val="1">Male</option>
              <option val="2" selected>Both</option>
              {{else}}
              {{#if male}}
                <option val="0">Female</option>
                <option val="1" selected>Male</option>
                <option val="2">Both</option>
              {{else}}
                <option val="0" selected>Female</option>
                <option val="1">Male</option>
                <option val="2">Both</option>
              {{/if}}
            {{/if}}
          </select>
          <br><br>
          <button type="button" onClick="exerciseUpdate()" id="updateBtn">Update Event</button>
    	<div>
	</fieldset>
</form>

<script type="text/javascript" src="/table.js"></script>